#page-landing {
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
  width: 100vw;
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
}


#page-landing .content-wrapper {
	position: relative;

	width: 100%;
	max-width: 1100px;

	height: 100%;
	max-height: 680px;

	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;

}

.content-wrapper .location {
	position: absolute;
	right: 0;
	top: 0;
}

.content-wrapper .enter-app {
	position: absolute;
	right: 0;
	bottom: 0;
}
